.fotop {
    display: block;
    margin-left: 2.5rem;
    margin-right: auto;
}
.fotop img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.presentation {
    display: flex;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    margin: 2.5rem;
    align-items: center;
    text-align: justify;

}
.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2.5rem;
    align-items: center;
    text-align: justify;
}
.about h1 {
    font-size: 30px;
    font-weight: bold;
    color: #1d3557;
}
.about hr {
    width: 100%;
    border: 1px solid #1d3557;
    margin-top: 0px;
    margin-bottom: 0px;
}
.aboutc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    align-items: center;
    text-align: justify;
}
.aboutc img {
    border-radius: 10px;
    margin-top: 0rem;
    margin-bottom: 1rem;
}
.aboutc p {
    font-size: 15px;
    font-weight: bold;
    }
.aboutc h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    }
.blog {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2.5rem;
    align-items: center;
    text-align: justify;
}
.blog h1 {
    text-align: center;
    font-size: 10vh;
    font-weight: bold;
    color: #1d3557;
    font-family: 'Lobster', cursive;
    }
.blog h2 {
    font-size: 30px;
    font-weight: bold;
    color: #1d3557;
    font-family: 'Lobster', cursive;
    margin-top: 0rem;
    }
.blog p {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    font-weight: bold;
    }
.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2.5rem;
    align-items: center;
    text-align: justify;
}
.projects h1 {
    font-size: 13vh;
    font-weight: bold;
    color: #1d3557;
    }
.projects p {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    }
